{% extends "base.twig" %}

{% block title %}Ana Sayfa - Su Arıtma Cihazları{% endblock %}

{% block content %}
  <h1>Hoşgeldiniz!</h1>
  <p>Sağlığınız için en kaliteli su arıtma cihazlarını sunuyoruz.</p>
{% endblock %}